.body {
  display: flex;
    justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("../../images/landing1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  width: 100vw;
  height: 100vh;
}
.landing-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(26, 26, 29, .6);
  height: 350px;
  width: 400px;
margin: 0 auto;

}
.Logo-Title{
margin: 0 auto;
padding: 10px 0;
}
.Login-Landing{
  margin: 0 auto
}
.Logo-Title, .Login-Landing {
  display: flex;
  font-size: 3.4em;
  color: #c3073f;

}
.Login-Landing {
  /* margin: auto; */
  color: white;
  font-size: 2em;

}
.Login-Landing:hover {
  cursor: pointer;
  color: blue;
}

