.App-header {
  background: #31354A;
  width: 100vw;
  height: 5.5vh;
  color: white;
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}
.logo{
    color:#F46060 ;
}
.search{
    display: flex;
    flex-direction: row;
     padding: 15px 10px;
}
.search input{
    width: 15vw;
    height: 2em;
}
.search input[type=text]{

}
.search button{
  background: #F46060;
  border-color: black;
    height: 2.6em;
}
.search button:hover{
    cursor: pointer;
  
    color: #444444;
}
.profileLink:hover{
    color:#F46060;
}
.nav{
    display: flex;
    
   padding:25px 20px;
}
.nav Link{
text-decoration: none;
color: #F46060;
}
.nav p{
     color: white;
     text-decoration: none;
     padding: 10px 10px;
}
.nav h1{
    color: white;
    position: relative;
     text-decoration: none;
     padding: 10px 10px;
     display: flex;
     flex-direction: flex-end;
}
.nav p:hover{
    color: #F46060;
}
