.App-header {
  background: #1a1a1d;
  width: 100vw;
  height: 5.5vh;
  color: #4e4e50;
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}
.logo{
    color:#c3073f;
}
.search{
    display: flex;
    flex-direction: row;
     padding: 15px 10px;
}
.search input{
    width: 15vw;
    height: 2em;
    background: #4e4e50;
}
.search input[type=text]{

}
.fas{
    color:#c3073f
}
.search button{
 background: #1a1a1d;
  border-color: #1a1a1d;
    height: 2.6em;
}
.search button:hover{
    cursor: pointer;
  
    color: #444444;
}
.profileLink:hover{
    color:#c3073f;
}
.nav{
    display: flex;
    
   padding:25px 20px;
}
.nav Link{
text-decoration: none;
color: #c3073f;
}
.nav p{
     color: #4e4e50;
     text-decoration: none;
     padding: 10px 10px;
}
.nav h1{
    color: #4e4e50;
    position: relative;
     text-decoration: none;
     padding: 10px 10px;
     display: flex;
     flex-direction: flex-end;
}
.nav p:hover{
    color: #c3073f;
}
