busProfile-container{
color: white;
 height: 100vh;

}
.about_strip{
    /* font-size: 5em;
    border: 2px solid black; */
    color: white;
    display: flex;
    flex-direction: row;
}
.profilepic{
    background: blue;
}
.about_strip h2{
    font-size: 2em;
    color: white;
}
.buttons{
    display: flex;
    margin: 0 20%;
    flex-direction: row;
}
#job-title{
    position: absolute;
    margin: 50px 0 0 30px;
}
.btn{
      font-weight: bold;
  font-size: 17px;
  line-height: 25.5px;
  border:solid 1px #6f2232;;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  color: black;
  background: #202024;
  height: 34px;
}
.btn:hover{
    cursor: pointer;
    color: #c3073f;

}
.appBtn{
    display: flex;
    margin: 0 5%;
}
.subBtn{
    display: flex;
 
    justify-content: flex-end;
}
.main{
    display: flex;
    flex-direction: row;
}
.busInfo{
    background: #171719;
    margin: 2% 0 0 2%;
    width: 20vw;
    height: 45vh;
    color: #6D6D70;
    padding: 50px;
}
.menu{
       background: #171719;
       margin: 2% 0 0 4%;
         width: 40vw;
       height: 45vh;
}
caption{
     color: #6D6D70;
     font-size: 2em;
}
.appTable{
    width: 30vw;
}
td{
    color: #6D6D70;

}
.Calender{
    margin: 5%;
    color: #c3073f
    
}
.bold-text{
    font-weight: bold;
    font-size: 1em;
    padding: 0 0 5px 0 ;
}
ul{
    padding: 0 0 25px 0;
}
#name{
    font-size: 2em;
    font-weight: bold;
    padding: 0 0 10px 0
}
#dow{
    font-weight: bold;
}
#bio{
    padding: 0 0 25px 0
}

/* .topLine{
    border-bottom: 7px solid #6f2232;
    position: absolute;
    top: 20px;
    /* margin-top: 40%; */
/* }  */
